@media (max-width: 1440px) {
    .podcasts__list {
        justify-content: space-between;
    }

    .podcasts__item {
        width: 450px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 888px;
        padding: 0 32px;
    }

    .header {
        height: 144px;
        padding: 32px 0 22px 0;
    }

    .header__nav {
        height: 90px;
        position: relative;
        flex-direction: column;
        gap: 0;
        justify-content: space-between;
        align-items: flex-start;

    }

    .header__search {
        position: absolute;
        right: 0;
        top: -2px;
    }

    .header__list {
        height: 64px;
        width: 100%;
        align-items: flex-end;
    }

    .header__list::before {
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 48px;
        background-color: var(--ltgray-color);
    }

    .header__list::after {
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 110px;
        background-color: var(--ltgray-color);
    }

    .header__logo {
        width: 112px;
        min-width: 112px;
    }

    .hero {
        height: 442px;
    }

    .hero__descr {
        max-width: 520px;
    }

    .hero__wrapper {
        padding: 92px 0 98px 0;
    }

    .hero__picture {
        width: 256px;
        min-width: 256px;
        padding: 86px 0 70px 0;
    }

    .podcasts__item {
        width: 396px;
    }

    .broadcasts__item {
        width: 254px;
    }

    .guests__descr {
        max-width: 536px;
    }

    .playlists {
        padding-bottom: 94px;
    }

    .playlists__container {
        flex-direction: column;
    }

    .playlists__heading {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .playlists__descr {
        height: 80px;
    }

    .playlists__list {
        max-width: 100%;
        padding: 0;
        row-gap: 30px;
    }

    .playlists__item {
        width: 255px;
        height: 112px;
        display: flex;
        align-items: center;
    }

    .playlists__cardimg {
        width: 112px;
        height: 112px;
    }

    .playlists__cardflag {
        left: 0;
    }

    .playlists__cardwrapper {
        width: 143px;
        height: 112px;
        margin-top: 0;
        padding: 40px 8px;
        border: 1px solid var(--ltgray-color);
    }

    .wave {
        padding: 94px 0;
    }

    .wave__container {
        align-items: center;
        gap: 30px;
    }

    .wave__imgmain {
        width: 397px;
        height: 349px;
        padding: 0;
        margin-bottom: 40px;
    }

    .wave__imgnew {
        width: 100px;
        top: 117px;
    }

    .wave__wrapper {
        height: 635px;
    }

    .about__heading {
        width: 539px;
    }

    .about__imgcoil {
        display: none;
    }

    .about__item {
        width: 397px;
    }

    .about__forms {
        width: 100%;
    }

    .about__input {
        width: 48%;
    }

    .about__wrapper {
        gap: 30px;
    }

    .footer__container {
        padding: 94px 32px 96px 32px;
    }

    .footer__trademark {
        height: 32px;
        padding-bottom: 0;
    }
}

@media (max-width: 920px) {

    .container {
        width: 604px;
        padding: 0 32px;
    }

    .header {
        height: 140px;
    }

    .header__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    }

    .header__nav {
        height: 85px;
    }

    .header__list {
        height: 60px;
        gap: 56px;
    }

    .header__item-ml {
        margin-left: -8px;
    }

    .hero {
        height: 442px;
    }

    .hero__picture {
        display: none;
    }

    .podcasts__item {
        width: 100%;
    }

    .broadcasts {
        padding: 94px 0 30px 0;
    }

    .broadcasts__container {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .broadcasts__title {
        margin: 0 0 123px 0;
        align-self: flex-start;
    }

    .broadcasts__list {
        margin-bottom: 90px;
    }

    .broadcasts__item {
        width: 255px;
    }

    .broadcasts__archive {
        width: 345px;
        height: 96px;
        position: static;
        flex-direction: row;
        gap: 20px;
    }

    .broadcasts__arcmic {
        width: 70px;
        height: 96px;
        margin-bottom: 0;
    }

    .broadcasts__arcbtn {
        margin-bottom: 8px;
    }

    .guests__item {
        flex-direction: column;
    }

    .guests__carddescr {
        margin-bottom: 30px;
        max-width: 362px;
    }

    .playlists {
        padding-bottom: 112px;
    }

    .playlists__container {
        gap: 30px;
    }

    .playlists__heading {
        margin-bottom: 0;
    }

    .playlists__descr {
        height: 102px;
    }

    .wave {
        padding-top: 54px;
    }

    .wave__container {
        flex-direction: column;
        gap: 52px;
    }

    .wave__picture {
        width: 100%;
        margin-bottom: 0;
    }

    .wave__imgmain {
        width: 540px;
        height: 474px;
        margin-bottom: 0;
    }

    .wave__imgnew {
        width: 160px;
        height: 160px;
        top: 0;
    }

    .wave__wrapper {
        max-width: 100%;
        height: 546px;
    }

    .wave__title {
        width: 400px;
        margin-bottom: 15px;
    }

    .wave__wrappercoil {
        margin-bottom: 18px;
    }

    .about__container {
        flex-direction: column;
        gap: 30px;
    }

    .about__imgcoil {
        height: 112px;
        width: 639px;
        display: block;
        position: absolute;
        transform: translate(-115px, 380px);
    }

    .about__imgstar {
       width: 112px;
       height: 112px; 
       align-self: flex-end;
    }

    .about__list {
        row-gap: 28px;
        column-gap: 30px;
    }

    .about__item {
        width: 255px;
    }

    .about__input {
        width: 100%;
    }

    .footer__container {
        padding: 92px 32px 78px 32px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 88px;
    }

    .footer__wrapper {
        width: 160px;
    }

    .footer__social {
        width: 100%;
        height: 30px;
        padding: 5px 8px;
    }

    .footer__sociallnk {
        width: 30px;
        height: 30px;
    }

    .footer__social svg {
        width: 30px;
        height: 30px;
    }

    .footer__nav {
        width: 100%;
    }

    .footer__list {
        max-width: 100%;
        height: 108px;
        column-gap: 157px;
        row-gap: 26px;
    }

    .footer__item {
        gap: 30px;
    }

    .footer__trademark {
        height: 35px;
    }
}

@media (max-width: 570px) {

    .container {
        width: 320px;
        padding: 0 32px;
    }

    .header {
        padding: 20px 0 17px 0;
        overflow: hidden;
    }

    .header__logo {
        min-width: 87px;
        width: 87px;
    }

    .header__nav {
        height: 68px;
    }

    .header__list {
        gap: 32px;
    }

    .header__list::before {
        top: 35px;
    }

    .header__list::after {
        top: 85px;
    }

    .header__search {
        top: -2px;
    }

    .hero__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
    }

    .hero__title span {
        font-size: 32px;
        font-weight: 400;
        line-height: 32px;
    }

    .hero {
        height: 302px;
        padding: 6px 0 20px 0;
    }

    .hero__container {
        height: 100%;
    }

    .hero__wrapper {
        height: 100%;
        padding: 0;
        gap: 7px;
    }

    .hero__descr {
        margin-bottom: 13px;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    .hero__button {
        width: 200px;
        height: 50px;
        margin: 0;
        padding: 17px 45px;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
    }

    .podcasts {
        padding: 54px 0;
    }

    .podcasts__title {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
    }

    .podcasts__item {
        height: 185px;
        flex-direction: column;
        gap: 28px;
        align-items: flex-start;
    }

    .podcasts__cardimg {
        height: 72px;
    }

    .podcasts__date {
        top: 0;
    }

    .podcasts__cardttl {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
    }

    .podcasts__descr {
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
    }

    .podcasts__cardwrapper {
        height: 56px;
        padding-left: 16px;
    }

    .broadcasts {
        padding: 54px 0;
    }

    .broadcasts__title {
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
    }

    .broadcasts__list {
        margin-bottom: 60px;
    }

    .broadcasts__item {
        width: 113px;
        height: 149px;
    }

    .broadcasts__cardimg {
        height: 50px;
    }

    .broadcasts__cardwrapper {
        height: 93px;
        padding: 4px 10px 11px 9px;
    }

    .broadcasts__cardttl {
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
    }

    .broadcasts__carddescr {
        font-size: 9px;
        font-weight: 400;
        line-height: 9px;
    }

    .broadcasts__cardlink {
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: 12px;
        color: #6d31ee;
    }

    .broadcasts__cardlink svg {
        fill: #6d31ee;
        margin-left: 2px;
    }

    .broadcasts__archive {
        width: 256px;
        height: 105px;
        gap: 13px;
        transform: translateX(-20px);
    }

    .broadcasts__arcwrapper {
        width: 166px;
        display: flex;
        flex-direction: column-reverse;
        gap: 7px;
    }

    .broadcasts__arcmic {
        width: 77px;
        height: 105px;
    }
    .broadcasts__arcdescr {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    .broadcasts__arcbtn {
        width: 110px;
        height: 35px;
        margin-bottom: 0;
    }

    .guests {
        padding: 56px 0 52px 0;
    }

    .guests__title {
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
    }

    .guests__subtitle {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
    }

    .guests__descr {
        max-width: 100%;
        margin-bottom: 28px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }

    .guests__list {
        gap: 28px;
    }

    .guests__item {
        gap: 12px;
    }

    .guests__cardbtn {
        width: 150px;
        height: 35px;
    }

    .playlists {
        padding: 54px 0;
    }

    .playlists__container {
        gap: 34px;
    }

    .playlists__title {
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
    }

    .playlists__descr {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }

    .playlists__descr span {
        font-size: 12px;
        font-style: italic;
        font-weight: 300;
        line-height: 22px;
    }

    .playlists__descr img {
        margin-top: 5px;
    }

    .playlists__item {
        width: 113px;
        height: 159px;
        flex-direction: column;
    }

    .playlists__cardimg {
        width: 100%;
    }

    .playlists__cardwrapper {
        width: 113px;
        height: 46px;
        padding: 8px;
    }

    .playlists__cardtitle {
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
    }

    .playlists__carddescr {
        font-size: 9px;
        font-weight: 400;
        line-height: 9px;
    }

    .playlists__cardflag {
        left: 88px;
    }

    .wave {
        padding: 54px 0 46px 0;
    }

    .wave__container {
        gap: 30px;
    }

    .wave__imgmain {
        width: 256px;
        height: 231px;
        min-width: 256px;
        padding: 0;
    }

    .wave__imgnew {
        width: 62px;
        height: 62px;
    }

    .wave__title {
        width: 100%;
        margin-bottom: 12px;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
    }

    .wave__wrappercoil {
        margin-bottom: 24px;
    }

    .wave__descr {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }

    .wave__descrbottom {
        margin-bottom: 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }

    .wave__price {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
    }

    .wave__btn {
        width: 256px;
        height: 50px;
        margin-top: 0;
        padding: 5px 5px 20px 5px;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
    }

    .about {
        padding: 54px 0;
    }

    .about__heading {
        width: 100%;
    }

    .about__title {
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
    }

    .about__subtitle {
        margin-bottom: 4px;
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;
    }

    .about__descr {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }

    .about__imgcoil {
        display: none;
    }

    .about__imgstar {
        display: none;
    }

    .about__list {
        column-gap: 30px;
        row-gap: 30px;
    }

    .about__item {
        width: 113px;
        height: 214px;
    }

    .about__item img {
        width: 113px;
        height: 113px;
        margin-bottom: 8px;
    }

    .about__cardtitle {
        margin-bottom: 2px;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }

    .about__cardtitle br {
        display: inline;
    }

    .about__carddescr {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }

    .about__forms {
        gap: 30px;
    }

    .about__textarea {
        padding: 15px 0 0 22px;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
    }

    .about__input {
        height: 50px;
        padding: 12px 0 10px 22px;
        border-radius: 40px;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
    }

    .about__wrapper {
        gap: 16px;
    }

    .about__formbtn {
        width: 172px;
        height: 50px;
        padding: 10px 5px;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
    }

    .about__checkbox span {
        font-size: 9px;
        font-weight: 500;
        line-height: 9px;
    }

    .footer__container {
        padding: 54px 0 10px 0;
        gap: 60px;
    }

    .footer__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .footer__link {
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
    }

    .footer__nav {
        width: 320px;
        display: block;
        padding: 30px 32px;
        background-color: var(--black-color);
    }

    .footer__list {
        height: 156px;
        column-gap: 28px;
        row-gap: 24px;  
    }

    .footer__picture {
        height: 10px;
    }

    .footer__trademark {
        width: 98px;
        height: 30px;
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
    }
}